project:
  type: website
  resources:
    - "css/"
    - "js/"
    - "*.html"
  output-dir: docs

website:
  title: "hambiBottomUp data analysis"
  sidebar:
    style: "docked"
    background: light
    search: true
    contents:
      - section: "Experiment design - 96 Well plate layout"
        contents:
          - text: "1. Species pairs"
            file: R/experiment_design/01_pairs.qmd
          - text: "2. Species trios"
            file: R/experiment_design/02_trios.qmd
          - text: "3. Species quartets"
            file: R/experiment_design/03_quartets.qmd
      - section: "Community composition amplicon"
        contents:
          - text: "1. 20240711 BTK Illumina v3 / Data wrangling and QC"
            file: R/amplicon/20240711_BTK_illumina_v3/01_format_rbec_tab.qmd
          - text: "2.  20240711 BTK Illumina v3 / Metacal calibration"
            file: R/amplicon/20240711_BTK_illumina_v3/02_correct_boil_to_qiagen.qmd
          - text: "3. Species pairs analysis"
            file: R/amplicon/analysis_pairs.qmd
            
format:
  html:
    theme:
      - cosmo
      - mystyle.scss
    # include table of contents
    toc: true
    # when printing dataframes use rmarkdown::paged_table())
    df-print: paged
    # set default dimensions for figures
    fig-width: 8
    fig-height: 6
    # tidy format R code upon render
    tidy: true
    # include line numbers in code blocks
    code-line-numbers: true
    # The code-link option enables hyper-linking of functions within code blocks to their online documentation:
    #code-link: true
    number-sections: true
  
# auto: re-render only when source changes   
execute:
  freeze: false 
  
editor: source
